.ban_scroll_circle {
    box-sizing: border-box;
    height: 64px;
    width: 64px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: rgb(27, 29, 31);
    border-radius: 100%;
}

.ban_button{
    position: absolute;
    bottom: 78px;
    left: calc(50% - 32px);
    background-color: transparent;
    cursor: pointer;
    user-select: none; 
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.ban_scroll_text{
    font-weight: '700';
    text-transform: 'uppercase';
    transition: 'color 0.25s ease-in-out 0s';
}